.footer {
    width: 100vw;
    background-color: white;
    height: 100px;
    color: black;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.footer_paragraph {
    margin-left: 100px;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .footer {
        height: auto;
        padding: 1rem;
        text-align: center;
        font-size: 0.9rem;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer_paragraph {
        margin-left: 0px;
    }
}